openapi: 3.1.0
info:
  title: Scripture Grounding demo API
  version: "0.1.0"
  description: >
    Keyless REST API for the scripture-grounding-mcp project's core pattern:
    retrieve canonical Scripture text, then verify any claimed quote against
    it, rather than trusting a model's memory. Backed entirely by the
    committed, public-domain Berean Standard Bible (BSB) fixture corpus (34
    passages) — no YouVersion API key is used or required by this
    deployment. `/encourage` additionally demonstrates retrieve-then-constrain
    generation via Gloo AI Studio, degrading gracefully to a template-only
    "grounding demo" mode when no Gloo credentials are configured server-side.
    `/register` checks AI-generated text against a deterministic register
    rule table — not just misquoted Scripture, but performed empathy or
    claimed personhood (the tool is a signpost, never a companion). Built
    for Kaggle's "Scripture in New Frontiers" challenge; this API is the
    ChatGPT-Actions-compatible backend for the same MCP server published at
    github.com/The-Doxa-Way/scripture-grounding-mcp (GPTs can't speak MCP
    directly, so this REST surface mirrors its four most important tools).
servers:
  - url: https://doxa.app/scripture-grounding/api
    description: Production demo deployment (doxa.app rewrite)
  - url: https://scripture-grounding-demo.vercel.app/api
    description: Direct Vercel deployment
paths:
  /passage:
    get:
      operationId: getPassage
      summary: Retrieve canonical BSB text for a Scripture reference
      description: >
        Looks up a reference (e.g. "John 3:16-17") in the committed BSB
        fixture corpus. If the reference isn't in the corpus, returns a 404
        with the full list of available references — never invents text for
        an unrecognized reference.
      parameters:
        - name: reference
          in: query
          required: true
          schema:
            type: string
          example: John 3:16-17
      responses:
        "200":
          description: Passage found
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference:
                    type: string
                  translation:
                    type: string
                  text:
                    type: string
                  source:
                    type: string
                    enum: [fixture]
                  sourceUrl:
                    type: string
        "404":
          description: Reference not in the fixture corpus
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  availableReferences:
                    type: array
                    items:
                      type: string
  /verify:
    post:
      operationId: verifyQuote
      summary: Verify a claimed Scripture quote against canonical BSB text
      description: >
        The core grounding tool. Given a quote and the reference it is
        claimed to be from, fetches canonical BSB text and classifies the
        quote as exact, minor_variance, misquote, misattribution (the quote
        actually matches a DIFFERENT passage in the corpus better),
        different_translation (the quote misses BSB but closely matches
        another public-domain translation this project ships locally — WEB
        or KJV), or not_found. Returns a similarity score and a word-level
        diff summary, plus closestTranslation/similarityToClosest/
        verdictAgainstClosest/similarityToRequested on every call. Never
        asserts a quote is correct from memory — only what could be
        verified against the corpus.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quote, reference]
              properties:
                quote:
                  type: string
                  description: The quote text to verify.
                reference:
                  type: string
                  description: The Scripture reference the quote is claimed to be from.
              example:
                quote: For God so loved the world that he sent his only Son.
                reference: John 3:16-17
      responses:
        "200":
          description: Verdict object
          content:
            application/json:
              schema:
                type: object
                properties:
                  verdict:
                    type: string
                    enum: [exact, minor_variance, misquote, misattribution, different_translation, not_found]
                  claimedReference:
                    type: string
                    nullable: true
                  canonicalText:
                    type: string
                    nullable: true
                  canonicalTranslation:
                    type: string
                    nullable: true
                  canonicalSource:
                    type: string
                    nullable: true
                  similarityScore:
                    type: number
                    nullable: true
                  diffSummary:
                    type: object
                    nullable: true
                  correctReference:
                    type: string
                    nullable: true
                  reason:
                    type: string
                  closestTranslation:
                    type: string
                    nullable: true
                    description: The closest-matching translation across every locally shipped corpus (BSB/WEB/KJV), regardless of verdict.
                  similarityToClosest:
                    type: number
                    nullable: true
                  verdictAgainstClosest:
                    type: string
                    nullable: true
                  similarityToRequested:
                    type: number
                    nullable: true
        "400":
          description: Missing quote or reference
  /encourage:
    post:
      operationId: encourage
      summary: Get a Scripture-grounded encouragement for a topic or question
      description: >
        Retrieves a relevant BSB passage for a topic/question via a keyword
        map (e.g. "anxious" -> Philippians 4:6-7), then generates a reply
        constrained to quote ONLY that retrieved passage, verbatim, with Gloo
        AI Studio if server credentials are configured — otherwise returns a
        deterministic, no-network "grounding demo" stub reply. The response's
        `source` field always says which mode served the reply
        ("gloo-api" | "stub"), never presenting one as the other.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  description: A topic, feeling, or question to respond to, grounded in Scripture.
              example:
                message: I'm anxious about my future.
      responses:
        "200":
          description: Grounded reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply:
                    type: string
                    nullable: true
                  source:
                    type: string
                    enum: [gloo-api, stub]
                  groundedOn:
                    type: object
                    nullable: true
                    properties:
                      reference:
                        type: string
                      translation:
                        type: string
                      text:
                        type: string
                      matchedKeyword:
                        type: string
                        nullable: true
                  error:
                    type: string
                    nullable: true
        "400":
          description: Missing message
  /register:
    post:
      operationId: verifyRegister
      summary: Check text for register violations (companion/personhood/empathy claims)
      description: >
        This project's second gated pillar alongside verifyQuote: not just
        "did it misquote Scripture" but "did it perform empathy or claim
        personhood". Checks AI-generated text against a deterministic rule
        table (src/verify-register.js) for four banned-pattern categories:
        first-person language, reassurance-empathy phrasing, companion/
        always-here claims, and personhood/feeling claims. If quotedReferences
        is supplied, that reference's canonical BSB text is resolved and
        exempted from the first-person rule (a quoted Psalm's own "my
        shepherd" is the Psalmist speaking, not the tool). Lexical heuristics,
        not semantic understanding — same honesty standard as verifyQuote.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: The AI-generated reply text to check for register violations.
                quotedReferences:
                  type: array
                  items:
                    type: string
                  description: Scripture reference(s) (e.g. "Psalm 23:1-6") the text is expected to quote verbatim.
              example:
                text: I'm sorry you're feeling anxious. I'd encourage you to keep going.
                quotedReferences: []
      responses:
        "200":
          description: Register verdict
          content:
            application/json:
              schema:
                type: object
                properties:
                  verdict:
                    type: string
                    enum: [clean, violations]
                  violations:
                    type: array
                    items:
                      type: object
                      properties:
                        rule:
                          type: string
                        category:
                          type: string
                          enum: [first-person, reassurance-empathy, companion-always-here, personhood-feeling-claims]
                        phrase:
                          type: string
                        index:
                          type: integer
        "400":
          description: Missing text
