openapi: 3.1.0
info:
  title: Scripture Grounding demo API
  version: "0.1.0"
  description: >
    Keyless REST API for the scripture-grounding-mcp project's core pattern:
    retrieve canonical Scripture text, then verify any claimed quote against
    it, rather than trusting a model's memory. Backed entirely by committed,
    public-domain Berean Standard Bible (BSB) text — the whole Bible
    (31,086 verses), any reference from a single verse to a whole book — no
    YouVersion API key is used or required by this
    deployment. `/encourage` additionally demonstrates retrieve-then-constrain
    generation via Gloo AI Studio, degrading gracefully to a template-only
    "grounding demo" mode when no Gloo credentials are configured server-side.
    `/register` checks AI-generated text against a deterministic register
    rule table — not just misquoted Scripture, but performed empathy or
    claimed personhood (the tool is a signpost, never a companion). Built
    for Kaggle's "Scripture in New Frontiers" challenge; this API is the
    ChatGPT-Actions-compatible backend for the same MCP server published at
    github.com/The-Doxa-Way/scripture-grounding-mcp (GPTs can't speak MCP
    directly, so this REST surface mirrors its four most important tools).
# ChatGPT Actions requires exactly ONE server (multiple hostnames are dropped
# with a validation warning) — the direct Vercel URL
# (https://scripture-grounding-demo.vercel.app/api) serves the same API if the
# doxa.app rewrite is ever unavailable.
servers:
  - url: https://doxa.app/scripture-grounding/api
    description: Production demo deployment (doxa.app rewrite)
paths:
  /passage:
    get:
      operationId: getPassage
      summary: Retrieve canonical BSB text for a Scripture reference
      description: >
        Retrieves canonical text from the committed public-domain BSB corpus
        (the whole Bible) at any scale: verse ranges ("John 3:16-17"),
        chapters ("Romans 8"), chapter ranges, cross-chapter ranges, or
        whole books ("Romans"). Never invents text; 404 only for
        unresolvable references.
      parameters:
        - name: reference
          in: query
          required: true
          schema:
            type: string
          example: John 3:16-17
      responses:
        "200":
          description: Passage found
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference:
                    type: string
                  translation:
                    type: string
                  text:
                    type: string
                  source:
                    type: string
                    enum: [fixture, bsb-corpus]
                  sourceUrl:
                    type: string
                  chapterCount:
                    type: integer
                    description: Present on multi-chapter results.
                  segments:
                    type: array
                    description: Per-chapter text, present on multi-chapter results.
                    items:
                      type: object
                      properties:
                        reference:
                          type: string
                        text:
                          type: string
                        superscription:
                          type: string
                          description: A psalm's liturgical heading, split out of the text (present only where the BSB has one).
        "404":
          description: Reference could not be resolved (unrecognized book, out-of-range chapter/verse, or unparseable shape)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  supportedFormats:
                    type: array
                    description: Example reference shapes this API accepts.
                    items:
                      type: string
  /verify:
    post:
      operationId: verifyQuote
      summary: Verify a claimed Scripture quote against canonical BSB text
      # ChatGPT Actions rejects operation descriptions over 300 chars — keep
      # this one under the limit (full semantics: gpt-instructions.md).
      description: >
        The core grounding tool. Fetches canonical BSB text for the claimed
        reference and returns a verdict — exact, minor_variance, misquote,
        misattribution, different_translation, or not_found — with a
        similarity score and word diff. Chapters/books verify
        chapter-by-chapter with a per-segment breakdown.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quote, reference]
              properties:
                quote:
                  type: string
                  description: The quote text to verify.
                reference:
                  type: string
                  description: The Scripture reference the quote is claimed to be from.
              example:
                quote: For God so loved the world that he sent his only Son.
                reference: John 3:16-17
      responses:
        "200":
          description: Verdict object
          content:
            application/json:
              schema:
                type: object
                properties:
                  verdict:
                    type: string
                    enum: [exact, minor_variance, misquote, misattribution, different_translation, not_found]
                  claimedReference:
                    type: string
                    nullable: true
                  canonicalText:
                    type: string
                    nullable: true
                  canonicalTranslation:
                    type: string
                    nullable: true
                  canonicalSource:
                    type: string
                    nullable: true
                  similarityScore:
                    type: number
                    nullable: true
                  diffSummary:
                    type: object
                    nullable: true
                  correctReference:
                    type: string
                    nullable: true
                  reason:
                    type: string
                  closestTranslation:
                    type: string
                    nullable: true
                    description: The closest-matching translation across every locally shipped corpus (BSB/WEB/KJV), regardless of verdict.
                  similarityToClosest:
                    type: number
                    nullable: true
                  verdictAgainstClosest:
                    type: string
                    nullable: true
                  similarityToRequested:
                    type: number
                    nullable: true
                  remoteVersionsChecked:
                    type: array
                    nullable: true
                    description: Licensed translations additionally checked when the flag-gated multi-version path is enabled (null on this keyless deployment).
                    items:
                      type: object
                  comparisonMode:
                    type: string
                    enum: [chunked]
                    description: Present (as "chunked") when a long passage was verified chapter-by-chapter.
                  segmentBreakdown:
                    type: array
                    description: Long-passage mode only — per-chapter match stats.
                    items:
                      type: object
                      properties:
                        reference:
                          type: string
                        canonicalWords:
                          type: integer
                        matchedWords:
                          type: integer
                        coverage:
                          type: number
                        omitted:
                          type: boolean
                          description: True when this chapter is missing from the quote entirely (caps the verdict at misquote).
                  segmentsCompared:
                    type: integer
                    description: Long-passage mode only.
                  segmentsWithDifferences:
                    type: integer
                    description: Long-passage mode only.
        "400":
          description: Missing quote or reference
  /encourage:
    post:
      operationId: encourage
      summary: Get a Scripture-grounded encouragement for a topic or question
      # ChatGPT Actions rejects operation descriptions over 300 chars — keep
      # this one under the limit (full semantics: gpt-instructions.md).
      description: >
        Retrieves a relevant BSB passage for the topic, then returns a reply
        constrained to quote only that passage, verbatim (Gloo AI Studio when
        configured server-side, else a deterministic stub — `source` says
        which). Always surface the returned `disclosure` field verbatim
        alongside the reply.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  description: A topic, feeling, or question to respond to, grounded in Scripture.
              example:
                message: I'm anxious about my future.
      responses:
        "200":
          description: Grounded reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply:
                    type: string
                    nullable: true
                  source:
                    type: string
                    enum: [gloo-api, stub]
                  disclosure:
                    type: string
                    description: >
                      Always present. Discloses which mode generated the reply: live mode
                      names Gloo AI Studio's model and its own opaque alignment layer as the
                      source of the generated commentary; stub mode states plainly that no AI
                      generation occurred. Either way, only the quoted passage is canonical
                      Scripture text — never mistake the surrounding commentary for
                      Doxa-authored text or for Scripture itself.
                  groundedOn:
                    type: object
                    nullable: true
                    properties:
                      reference:
                        type: string
                      translation:
                        type: string
                      text:
                        type: string
                      matchedKeyword:
                        type: string
                        nullable: true
                  error:
                    type: string
                    nullable: true
        "400":
          description: Missing message
  /register:
    post:
      operationId: verifyRegister
      summary: Check text for register violations (companion/personhood/empathy claims)
      # ChatGPT Actions rejects operation descriptions over 300 chars — keep
      # this one under the limit (full semantics: gpt-instructions.md).
      description: >
        Checks AI-generated text against a deterministic rule table for
        register violations: first-person language, reassurance-empathy
        phrasing, companion/always-here claims, personhood/feeling claims.
        quotedReferences exempts quoted Scripture from the first-person
        rule. Lexical heuristics, not semantics.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: The AI-generated reply text to check for register violations.
                quotedReferences:
                  type: array
                  items:
                    type: string
                  description: Scripture reference(s) (e.g. "Psalm 23:1-6") the text is expected to quote verbatim.
              example:
                text: I'm sorry you're feeling anxious. I'd encourage you to keep going.
                quotedReferences: []
      responses:
        "200":
          description: Register verdict
          content:
            application/json:
              schema:
                type: object
                properties:
                  verdict:
                    type: string
                    enum: [clean, violations]
                  violations:
                    type: array
                    items:
                      type: object
                      properties:
                        rule:
                          type: string
                        category:
                          type: string
                          enum: [first-person, reassurance-empathy, companion-always-here, personhood-feeling-claims]
                        phrase:
                          type: string
                        index:
                          type: integer
        "400":
          description: Missing text
